@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
/* ADD TO CART BUTTON STYLING */

.btn {
	font-size: 17px;
	font-weight: 500;
	margin-left: 0px;
}

/*  */
.carousel-item{
	min-height: 300px;
	background: no-repeat scroll center scroll;
	background-size: cover;
}

.carousel-item::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	opacity: 0.3;
}

.carousel-caption{
	bottom: 180px;
	padding-left: 100px;
	padding-right: 100px;
}

.carousel-caption h5{
	font-size: 100px;
	font-weight: 700;
}

.carousel-caption p{
	font-size: 18px;
	top: 2rem;
}

.slider-btn{
	
	margin-top: 30px;
}

.slider-btn .btn{
	background-color: #3366cc;
	color: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	padding: 1.5rem 2rem;
	font-size: 1rem;
	margin-right: 15px;
}

.slider-btn .btn-2{
	color:white;
	background-color: rgb(255, 0, 0);
}


/* STYLING OF HEADING SECTION */
h2 {
	text-align: center;
	padding-bottom: 30px;
}
.product {
	text-align: center;
	padding-top: 50px;
}

/* STYLING OF FOOTER */
.site-footer {
	background-color: #26272b;
	padding: 45px 0 20px;
	font-size: 17px;
	line-height: 24px;
	color: #ffffff;
}
.site-footer hr {
	border-top-color: rgb(255, 255, 255);
	opacity: 0.5
}
.site-footer hr.small {
	margin: 20px 0
}
.site-footer h6 {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 5px;
	letter-spacing: 2px
}
.site-footer a {
	color: #ffffff;
}
.site-footer a:hover {
	color: #3366cc;
	text-decoration: none;
}
.footer-links {
	padding-left: 0;
	list-style: none
}
.footer-links li {
	display: block
}
.footer-links a {
	color: #ffffff
}
.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
	color: #3366cc;
	text-decoration: none;
}
.copyright-text {
	margin: 0
}


/* RESPONSIVENESS SECTION 
CART BUTTONS */

@media (max-width:983px) {
	.cart {
		display: grid;
	}
	.btn-primary {
		font-size: 15px;
		padding: 2px;
	}
	.btn-danger {
		font-size: 15px;
		padding: 2px;
		margin: 5px;
		margin-left: 21px;
	}
	.carousel-caption{
		bottom: 25px;
	}
	.carousel-caption h5{
		font-size: 40px;
	}
	.slider-btn{
		padding: 0;
		display: grid;
		justify-content: center;
		grid-template-columns: 200px 200px;
	}
	.slider-btn .btn{
		padding: 1rem 2rem;
	}
	.carousel-caption p{
		font-size: 15px;
	}

	@media (max-width: 500px)
	{
		.carousel-item{
			margin-top: 60px;
			background-size: cover;
			min-height:auto ;
		}
	}


	/* TRENDING SECTION */
	@media (max-width:991px) {
		.row {
			display: block;
		}
	}
}




/* FOOTER SECTION */

@media (max-width:991px) {
	.site-footer {
		margin-bottom: 30px
	}
	h6 {
		text-align: center;
	}
	.text-justify {
		font-size: 15px;
		text-align: justify;
	}
	.footer-links {
		text-align: center;
	}
}